$tmpdir /tmp/markrauh/22960251/turbotmpdir
$title
$operating system unix
$symmetry c1
$esp_fit resp
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
c  1-3                                                                         \
   basis =c aug-cc-pVTZ
h  4-6,8-9,11-13                                                               \
   basis =h aug-cc-pVTZ
o  7,10                                                                        \
   basis =o aug-cc-pVTZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=114097
   natoms=13
   nshell=142
   nbf(CAO)=475
   dim(trafo[SAO<-->AO/CAO])=597
   rhfshells=1
   nbf(AO)=414
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$closed shells
 a       1-21                                   ( 2 )
$last step     dscf
$orbital_max_rnorm 0.15745597523463E-04
$last SCF energy change = -268.08397
$charge from dscf
          0.000 (not to be modified here)
$dipole from dscf
  x     0.88639965730709    y    -0.21001161397981    z    -0.21471040409278    a.u.
   | dipole | =    2.3788398281  debye
$end
